body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
}

h2 {
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 5px;
}

p {
    color: darkblue;
    font-size: 18px;
}

/* Imágenes */
img {
    width: 300px;
    display: block;
    margin: 10px auto;
    border: 3px solid #004080;
    border-radius: 10px;
}

/* Menú */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #004080;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0066cc;
}

/* Lista */
ul {
    background-color: white;
    padding: 15px;
    border: 2px solid #004080;
    border-radius: 10px;
}

/* Enlaces */
a {
    color: red;
    font-weight: bold;
}

a:hover {
    color: darkred;
}